*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	min-height: 100vh;
}

section {
	padding: 10px;
	border-radius: 10px;
	border: solid 1px gray;
	display: grid;
	place-content: center;
}

button {
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
	border-color: gray;
	border-width: 1px;
}

p {
	font-size: 0.85rem;
}
